# 导入数据

In [1]:
import pandas as pd # 导入Pandas
df_sales = pd.read_csv('易速鲜花订单记录.csv') # 载入数据
df_sales.head() # 显示头几行数据

      订单号     产品码           消费日期           产品说明  数量     单价    用户码  城市
0  536374   21258  6/1/2020 9:09        五彩玫瑰五支装  32  10.95  15100  北京
1  536376   22114  6/1/2020 9:32       茉莉花白色25枝  48   3.45  15291  上海
2  536376   21733  6/1/2020 9:32  教师节向日葵3枝尤加利5枝  64   2.55  15291  上海
3  536378   22386  6/1/2020 9:37       百合粉色10花苞  10   1.95  14688  北京
4  536378  85099C  6/1/2020 9:37       橙黄香槟色康乃馨  10   1.95  14688  北京

# 整理日期格式

In [2]:
df_sales = pd.read_csv('易速鲜花订单记录.csv') # 载入数据
print('日期范围(格式转化前): %s ~ %s' % (df_sales['消费日期'].min(), df_sales['消费日期'].max())) # 显示日期范围(格式转换前)
df_sales['消费日期'] = pd.to_datetime(df_sales['消费日期']) # 转换日期格式
print('日期范围(格式转化后): %s ~ %s' % (df_sales['消费日期'].min(), df_sales['消费日期'].max())) # 显示日期范围

日期范围(格式转化前): 1/1/2021 10:11 ~ 9/9/2020 9:20
日期范围(格式转化后): 2020-06-01 09:09:00 ~ 2021-06-09 12:31:00

In [3]:
df_sales = df_sales.loc[df_sales['消费日期'] < '2021-06-01'] # 只保留整月数据
print('日期范围(删除不完整的月份): %s ~ %s' % (df_sales['消费日期'].min(), df_sales['消费日期'].max())) # 显示日期范围

日期范围(删除不完整的月份): 2020-06-01 09:09:00 ~ 2021-05-31 17:39:00

# 数据可视化

In [4]:
import matplotlib.pyplot as plt #导入Matplotlib的pyplot模块
#构建月度的订单数的DataFrame
df_orders_monthly = df_sales.set_index('消费日期')['订单号'].resample('M').nunique()
#设定绘图的画布
ax = pd.DataFrame(df_orders_monthly.values).plot(grid=True,figsize=(12,6),legend=False)
ax.set_xlabel('月份') # X轴label
ax.set_ylabel('订单数') # Y轴Label
ax.set_title('月度订单数') # 图题
#设定X轴月份显示格式
plt.xticks(
    range(len(df_orders_monthly.index)), 
    [x.strftime('%m.%Y') for x in df_orders_monthly.index], 
    rotation=45)
plt.show() # 绘图

# 数据清洗

In [5]:
df_sales = df_sales.drop_duplicates() #删除重复的数据行

# 特征工程

In [6]:
df_sales['总价'] = df_sales['数量'] * df_sales['单价'] #计算每单的总价
df_sales.head() #显示头几行数据

,订单号,产品码,消费日期,产品说明,数量,单价,用户码,城市,总价
0,536374,21258,2020-06-01 09:09:00,五彩玫瑰五支装,32,10.95,15100,北京,350.4
1,536376,22114,2020-06-01 09:32:00,茉莉花白色25枝,48,3.45,15291,上海,165.6
2,536376,21733,2020-06-01 09:32:00,教师节向日葵3枝尤加利5枝,64,2.55,15291,上海,163.2
3,536378,22386,2020-06-01 09:37:00,百合粉色10花苞,10,1.95,14688,北京,19.5
4,536378,85099C,2020-06-01 09:37:00,橙黄香槟色康乃馨,10,1.95,14688,北京,19.5

# 构建User用户表

In [7]:
df_sales_3m = df_sales[(df_sales.消费日期 > '2020-06-01') & (df_sales.消费日期 <= '2020-08-30')] #构建仅含头三个月数据的数据集
df_sales_3m.reset_index(drop=True) #重置索引

,订单号,产品码,消费日期,产品说明,数量,单价,用户码,城市,总价
0,536374,21258,2020-06-01 09:09:00,五彩玫瑰五支装,32,10.95,15100,北京,350.40
1,536376,22114,2020-06-01 09:32:00,茉莉花白色25枝,48,3.45,15291,上海,165.60
2,536376,21733,2020-06-01 09:32:00,教师节向日葵3枝尤加利5枝,64,2.55,15291,上海,163.20
3,536378,22386,2020-06-01 09:37:00,百合粉色10花苞,10,1.95,14688,北京,19.50
4,536378,85099C,2020-06-01 09:37:00,橙黄香槟色康乃馨,10,1.95,14688,北京,19.50
...,...,...,...,...,...,...,...,...,...
14564,545190,22937,2020-08-29 15:32:00,产品说明掩码,6,18.00,15656,苏州,108.00
14565,545190,22722,2020-08-29 15:32:00,产品说明掩码,4,39.50,15656,苏州,158.00
14566,545190,22457,2020-08-29 15:32:00,产品说明掩码,60,3.00,15656,苏州,180.00
14567,545190,22464,2020-08-29 15:32:00,产品说明掩码,12,25.00,15656,苏州,300.00
14568,545190,22423,2020-08-29 15:32:00,产品说明掩码,1,12.75,15656,苏州,12.75

In [8]:
df_user = pd.DataFrame(df_sales['用户码'].unique()) #生成以用户码为主键的结构
df_user.columns = ['用户码'] #设定字段名
df_user.head() #显示头几行数据

df_R_value = df_sales_3m.groupby('用户码').消费日期.max().reset_index() #找到每个用户的最近消费日期，构建df_R_value对象
df_R_value.columns = ['用户码','最近购买日期'] #设定字段名
df_R_value['R值'] = (df_R_value['最近购买日期'].max() - df_R_value['最近购买日期']).dt.days #计算最新日期与上次消费日期的天数
df_user = pd.merge(df_user, df_R_value[['用户码','R值']], on='用户码') #把上次消费距最新日期的天数（R值）合并至df_user结构

df_F_value = df_sales_3m.groupby('用户码').消费日期.count().reset_index() #计算每个用户消费次数，构建df_F_value对象
df_F_value.columns = ['用户码','F值'] #设定字段名
df_user = pd.merge(df_user, df_F_value[['用户码','F值']], on='用户码') #把消费频率(F值)整合至df_user结构

df_M_value = df_sales_3m.groupby('用户码').总价.sum().reset_index() #计算每个用户三个月消费总额，构建df_M_value对象
df_M_value.columns = ['用户码','M值'] #设定字段名
df_user = pd.merge(df_user, df_M_value, on='用户码') #把消费总额整合至df_user结构
df_user #显示用户表结构

       用户码  R值   F值        M值
0    15100  45    6    635.10
1    15291  35   35   1329.95
2    14688   6   85   1472.28
3    15311   5  715  12711.66
4    15862  89   64    354.23
..     ...  ..  ...       ...
365  15951   1   22    375.17
366  14745   1    7    240.60
367  15724   0    5    103.65
368  15874   0    5    584.35
369  15656   0   15    920.35

[370 rows x 4 columns]

# 构建标签

In [9]:
df_user_1y = df_sales.groupby('用户码')['总价'].sum().reset_index() #计算每个用户整年消费总额，构建df_user_1y对象
df_user_1y.columns = ['用户码','年度LTV'] #设定字段名
df_user_1y.head() #显示头几行数据
df_LTV = pd.merge(df_user, df_user_1y, on='用户码', how='left') #构建整体LTV训练数据集
df_LTV #显示df_LTV

       用户码  R值   F值        M值     年度LTV
0    15100  45    6    635.10    635.10
1    15291  35   35   1329.95   4596.51
2    14688   6   85   1472.28   4449.48
3    15311   5  715  12711.66  58218.04
4    15862  89   64    354.23    659.73
..     ...  ..  ...       ...       ...
365  15951   1   22    375.17    375.17
366  14745   1    7    240.60   1167.16
367  15724   0    5    103.65    212.30
368  15874   0    5    584.35   4330.67
369  15656   0   15    920.35   1425.90

[370 rows x 5 columns]

# 创建特征集和标签集

In [10]:
X = df_LTV.drop(['用户码','年度LTV'],axis=1) #特征集
X.head() #显示特征集

   R值   F值        M值
0  45    6    635.10
1  35   35   1329.95
2   6   85   1472.28
3   5  715  12711.66
4  89   64    354.23

In [11]:
y = df_LTV['年度LTV'] #标签集
y.head() #显示标签集

0      635.10
1     4596.51
2     4449.48
3    58218.04
4      659.73
Name: 年度LTV, dtype: float64

# 拆分训练集、验证集和测试集

In [12]:
from sklearn.model_selection import train_test_split

# 拆分成训练集和测试集 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

# 创建模型

In [13]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()

# 拆分K折

In [14]:
from sklearn.model_selection import KFold #导入K折工具
from sklearn.metrics import r2_score #导入R2分数评估工具
kf5 = KFold(n_splits=5, shuffle=False) #5折验证
i = 1 
for train_index, test_index in kf5.split(df_LTV): 
    X_train = df_LTV.iloc[train_index].drop(['年度LTV'],axis=1) #训练集X
    X_test = df_LTV.iloc[test_index].drop(['年度LTV'],axis=1) #验证集X
    y_train = df_LTV.iloc[train_index]['年度LTV'] #训练集y
    y_test = df_LTV.loc[test_index]['年度LTV'] #验证集y 
    model_lr.fit(X_train, y_train) #训练模型
    print(f"第{i}折验证集R2分数：{r2_score(y_test, model_lr.predict(X_test))}") 
    i += 1

第1折验证集R2分数：0.5360997558766885
第2折验证集R2分数：0.5597683702990446
第3折验证集R2分数：0.502870818091667
第4折验证集R2分数：-1.603181113150776
第5折验证集R2分数：0.03969327865527228

/Users/lvan/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/base.py:509: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  linalg.lstsq(X, y)

# 交叉验证

In [15]:
from sklearn.model_selection import cross_val_score # 导入交叉验证工具
# from sklearn.metrics import mean_squared_error #平均绝对误差
model_lr = LinearRegression() #线性回归模型
scores = cross_val_score(model_lr, #线性回归
                  X_train, #特征集
                  y_train, #标签集
                  cv=5, # 五折验证
                  scoring = 'neg_mean_absolute_error') #平均绝对误差
for i, score in enumerate(scores):
    print(f"第{i+1}折验证集平均绝对误差： {-score}")

第1折验证集平均绝对误差： 3556.598343373126
第2折验证集平均绝对误差： 1661.6416834373315
第3折验证集平均绝对误差： 1368.9959442206114
第4折验证集平均绝对误差： 1124.7941307578371
第5折验证集平均绝对误差： 1832.964263004629